<nav class="android-navigation mdl-navigation">
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/">Home</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/about">About</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/mywork">My Work</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/resume">Resumé</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/contact">Contact</a>
      </nav>